@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<section id="home-about" class="home-login">

    <div class="text-center">
        <h1 class="display-4">About</h1><br />
        <h1 class="display-4">About</h1><br />
        <h1 class="display-4">About</h1><br />
        <h1 class="display-4">About</h1><br />
        <h1 class="display-4">About</h1><br />
    </div>
</section><!-- End About Section -->
