@{
    ViewData["Title"] = "Contact";
    Layout = "_Layout";
}

<section id="home-contact" class="home-contact">

    <div class="text-center">
        <h1 class="display-4">Contact</h1><br />
        <h1 class="display-4">Contact</h1><br />
        <h1 class="display-4">Contact</h1><br />
        <h1 class="display-4">Contact</h1><br />
        <h1 class="display-4">Contact</h1><br />
    </div>
</section><!-- End About Section -->
