@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Welcome to Musebox</h1>
        <h2>The ultimate music store - now ONLINE!</h2>
        <a asp-action="Store" class="btn-get-started scrollto">See Store</a>
    </div>
</section><!-- End Hero -->

<section id="home-index" class="home-index">

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</section><!-- End About Section -->
