@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<section id="home-login" class="home-login">

    <div class="text-center">
        <h1 class="display-4">Login</h1><br />
        <h1 class="display-4">Login</h1><br />
        <h1 class="display-4">Login</h1><br />
        <h1 class="display-4">Login</h1><br />
        <h1 class="display-4">Login</h1><br />
    </div>
</section><!-- End About Section -->
