
@{
    ViewData["Title"] = "Statistics";
    Layout = "_Layout";
}

<section id="home-statistics" class="home-statistics">
    <div class="container">

        <div class="section-title">
            <span>Statistics</span>
            <h2>Statistics</h2>
        </div>

    </div>
</section>



