@{
    ViewData["Title"] = "Store";
    Layout = "_Layout";
}

<section id="home-store" class="home-store">

    <div class="text-center">
        <h1 class="display-4">Store</h1><br />
        <h1 class="display-4">Store</h1><br />
        <h1 class="display-4">Store</h1><br />
        <h1 class="display-4">Store</h1><br />
        <h1 class="display-4">Store</h1><br />
    </div>
</section><!-- End About Section -->
